@model WebDers.Service.Models.BrandDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<h1>Araba Model Düzenle</h1>

<body>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Save">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BrandID" type="hidden"/>
                <partial name="_BrandCE.cshtml"/>
                <div class="form-group">
                    <input type="submit" value="Güncelle" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="AdminAnaSayfa">Listeye Geri Dön</a>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
